<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles Applications</title>
</head>
<body>
    <h1>Welcome To The Vehicles Page</h1>
    <ul>
        <li>Display All Cars.</li><br>
        <li>List All BMW Cars.</li><br>
        <li>List Cars made on the year 2000 & Above.</li><br>
        <li>List Cars between  1990 & 2000.</li><br>
        <li>Cars Owned by Mohammad Jamal</li><br>
        <li>Search Car By License KWT123</li><br>
    </ul>
</body>
</html>
