<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles Applications</title>
</head>
<body>
    <h1>Welcome To The Vehicles Page</h1>
    <ul>
        <li>Display All Cars.</li><br>
        <li>List All BMW Cars.</li><br>
        <li>List Cars made on the year 2020 & Above.</li><br>
        <li>List Cars Purchased between May 2021 & December 2021.</li><br>
        <li>List Cars Purchased on the Month of November.</li><br>
        <li>Cars Owned by Abdullah Ahmed.</li><br>
        <li>Search Car By License</li><br>
    </ul>
</body>
</html>