<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table border="1" align="center">
    <tr align="center" bgcolor="Grey">
      <td colspan="4"><h2>CAR DETAILS</h2></td>
    </tr>
    
    <tr bgcolor="LightGrey">
      <td align="center">License</td>
      <td align="center">Model</td>
      <td align="center">Year</td>
      <td align="center">Owner Name</td>
    </tr>
  
    <tr>
      <td align="center">{{ p.license }}</td>
      <td align="center">{{ p.model }}</td>
      <td align="center">{{ p.year }}</td>
      <td align="center">{{ p.person }}</td>
    </tr>
  
  </table>
</body>

</html>